<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposed Flows Analysis - <%=scenarioId%> </title>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        html,
        body{
            height: 100%;
        }
        
        .container-fluid {
            height:93%
        }

        #content-grid {
            margin:auto;
            width: 98%;
            height: 95%;
            padding: 2px;
        }
    </style>  
    <script type="module">

        import { w2tabs, query,  w2form, w2ui, w2popup, w2alert, w2grid, w2toolbar,w2confirm } from 'https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.es6.min.js'
        
        const socket = new WebSocket('ws://localhost:3000?userId=<%=username%>_simulator');

        socket.onopen = function(){
            console.log('Connected to server');
        }

        socket.addEventListener("message",function(e){
            //alert("Server says: " + event.data);
            let message = JSON.parse(e.data)
            if(message.action === 'update_scenario'){
                window.location.reload();
            }
        });

        $("document").ready(function(){
            let scenario = {scenario_id:'<%=scenarioId%>'}
            $.post('/WF/api/getScenarioTRL', scenario, function(respuesta){
                if(respuesta){
                    let s = respuesta.records.scenario_details[0];
                    let trl = respuesta.records.scenario_trl;
                    grid.header = "TRL Analysis - capacity Units: " + s.capacity_units + " - Time Units: " + s.time_units;
                    grid.records = trl;
                    
                    
                    if(s.recalc_trl == 1){
                        grid.toolbar.enable('trlButton');
                        grid.header = "TRL Analysis - Outdated";
                    }else{
                        grid.toolbar.disable('trlButton');
                        grid.header = "TRL Analysis";
                    }
                    grid.refresh();
                } else {
                    alert("Something went wrong")
                }
            });
        });



        new w2tabs({
            box: '#tabs',
            name: 'tabs',
            active: 'general',
            tabs: [
                { id: 'general', text: 'State' },
                { id: 'details', text: 'Nodes' }
            ],
            onClick(event) {
                if(event.target === 'general'){
                    query('#selected-tab').html('<iframe width="100%" height="99%" src="https://lookerstudio.google.com/embed/reporting/2becc779-cf30-4a7d-9b37-9363fc1acdb1/page/p_qeuhdpzhmd?config=%7B%22ds1.scenario_id%22%3A%22<%=scenarioId%>_<%=region_name%>%22%7D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>');
                } else if(event.target === 'details'){
                    query('#selected-tab').html('<iframe width="100%" height="99%" src="https://lookerstudio.google.com/embed/reporting/6aae72ab-ea22-43bb-ab49-3727d1b74786/page/dg8qE?params=%7B%22ds0.scenario_id%22%3A%22<%=scenarioId%>_<%=region_name%>%22%7D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>');
                }
            }
        });


        let grid = new w2grid({
            name: 'trl_details',
            box: '#trl_grid',
            //header:"TRL Analysis",
            show: { header: true,toolbar:true,toolbarSearch:true },
            toolbar: {
                items: [
                    { type: 'button', id: 'trlButton', text: 'TRL', icon: 'fa fa-faucet' }
                ],
                onClick: function (target, data) {
                    
                    let scenario = {'scenario_id':'<%=scenarioId%>'}

                    w2confirm({
                        msg: 'Do you want to compute Time To Reach Limit?',
                        title: "Time to Reach Limit",
                        width: 250,        // width of the dialog
                        height: 220,       // height of the dialog
                        btn_yes: {
                            text: 'yes',   // text for yes button (or yes_text)
                            class: 'btn-danger',     // class for yes button (or yes_class)
                            style: 'background-color:red;',     // style for yes button (or yes_style)
                            onClick: null  // callBack for yes button (or yes_callBack)
                        },
                        btn_no: {
                            text: 'No',    // text for no button (or no_text)
                            class: '',     // class for no button (or no_class)
                            style: '',     // style for no button (or no_style)
                            onClick: null  // callBack for no button (or no_callBack)
                        },
                        callBack: function(answer){
                            if(answer === 'yes'){
                                $.post('/WF/api/recalcTRL', scenario, function(respuesta){
                                    if(respuesta.status === 'success'){
                                        alert("Computing finished")
                                        window.location.reload();
                                    } else{
                                        alert("Something went wrong");
                                        window.location.reload();
                                    }
                                });
                            } 
                        }
                    });
                }
            },
            searches: [
                { field: 'node_id', label: 'Node', type: 'text' }
            ],
            columns: [
                { field: 'node_id', text: 'Node', size: '25%' },
                { field: 'min_vol', text: 'Min.', size: '10%'},//,render:'float:02' },
                { field: 'current_vol', text: 'Current', size: '10%'},//,render:'float:02' },
                { field: 'max_vol', text: 'Max.', size: '10%'},//,render:'float:02' },
                { field: 'incoming_flow', text: 'In', size: '10%'},//,render:'float:02' },
                { field: 'outcoming_flow', text: 'Out', size: '10%'},//,render:'float:02' },
                { field: 'time_to_reach_limit', text: 'TRL', size: '10%' }
            ]
        });

    </script>
</head>
<body>
    <div class="container-fluid" style="width:100%;height:100%;">
        <div id="content-grid" style="width:95%;height:95%;margin: 5px;">
            <div class="row" style="height: 48%;">
                <div id="tabs" style="margin-top: 5px; width: 100%;"></div>
                <div id="selected-tab" style="padding: 10px 0px;width: 100%;height: 98%;"><iframe width="100%" height="99%" src="https://lookerstudio.google.com/embed/reporting/2becc779-cf30-4a7d-9b37-9363fc1acdb1/page/p_qeuhdpzhmd?config=%7B%22ds1.scenario_id%22%3A%22<%=scenarioId%>_<%=region_name%>%22%7D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe></div>
            </div>
            <div class="row" style="height: 52%;">
                <div id="trl_grid" style="margin-top: 5px; width: 100%; height: 100%;">
                </div>
            </div>
        </div>
    </div>
</body>
</html>