<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS</title>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        html,
        body{
            height: 100%;
        }
        
        .container-fluid {
            height:93%
        }

        #content-grid {
            margin:auto;
            width: 98%;
            height: 95%;
            padding: 2px;
        }
    </style>  
    <script type="module">

        import { w2grid, w2utils, w2form, w2ui, w2popup, w2alert, w2confirm } from 'https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.es6.min.js'
        let currentSelected = -1;

        $("document").ready(function(){
            $.get("/WF/api/getUsers", function(data, status){
                let recs = data.records;
                grid.records = recs;
                //grid.toolbar.disable("passChange");
                grid.refresh();
            });
        });

        function getNewEmptyRecord(){
            
            let record = {
                username: '',
                name:'',
                role: {id:<%=roles[1].id%>,text:'<%=roles[1].name%>'},
                region:{id:<%=regions[1].id%>,text:'<%=regions[1].name%>'}
            }

            return record;
        }

        function setForm(record){
            let rec = {
                new_username : record.username,
                new_name : record.name,
                new_region :record.region,
                new_role: record.role
            };
            w2ui.usersForm.record = rec;
            w2ui.usersForm.refresh();
        }


        function openFormPopup(){
            let usersForm = new w2form({
                name: 'usersForm',
                style: 'border: 0px; background-color: transparent;',
                fields: [
                    { field: 'new_username', type: 'text', required: true, 
                        html: { label: 'Username', attr: 'placeholder = "Give me the username" style="width: 100%";' }
                    },
                    { field: 'new_name', type: 'text', required: true, 
                        html: { label: 'Name', attr: 'placeholder = "Give me the name" style="width: 100%";' }
                    },
                    { field: 'new_role', type: 'list', required: true,
                        html: { label: 'Role',attr: 'style="width: 100%"' },
                        options: { items: [
                            <% for(let i =0;i<roles.length;i++){%>
                            {id:<%=roles[i].id%>,text:'<%=roles[i].name%>'}, 
                            <%}%>
                        ]},
                    },
                    { field: 'new_region', type: 'list', required: true,
                        html: { label: 'Region',attr: 'style="width: 100%"' },
                        options: { items: [
                            <% for(let i =0;i<regions.length;i++){%>
                            {id:<%=regions[i].id%>,text:'<%=regions[i].name%>'}, 
                            <%}%>
                        ]},
                    },
                    { field: 'new_pass', type: 'password', required: true,
                        html: { label: 'Password',attr: ' placeholder = "Type the pass" style="width: 100%"' },
                    },
                    { field: 'new_pass2', type: 'password', required: true,
                        html: { label: 'Password',attr: ' placeholder = "Repeate the pass" style="width: 100%"' },
                    }
                ],
                onRender:function(event){
                    usersForm.show('new_region');
                },
                onChange:function(event){
                    let modifiedField = event.target;

                    if(modifiedField === 'new_role'){
                        let selectedRole = usersForm.record.new_role;
                        if(selectedRole.text === 'user'){
                            usersForm.show('new_region');
                        }else{
                            usersForm.hide('new_region');
                        }
                    }
                },
                actions: {
                    Reset() { 
                        setForm(getNewEmptyRecord());
                    },
                    Save() { 
                        this.validate();

                        let pass = usersForm.record.new_pass;
                        let pass2 = usersForm.record.new_pass2;

                        if(pass !== pass2){
                            w2alert("Not the same password");
                            return;
                        }

                        let user = {
                            username:usersForm.record.new_username,
                            name:usersForm.record.new_name,
                            role_id: usersForm.record.new_role.id,
                            region_id: usersForm.record.new_region.id,
                            password:pass
                        }

                        $.ajax({
                            url:'/WF/api/saveUser', 
                            type:'POST',
                            data: JSON.stringify(user), 
                            dataType:"json",
                            contentType:"application/json; charset=utf-8",
                            success:function(response){
                                if(response)
                                    window.location.reload();
                                else
                                    alert("Something went wrong")
                            }
                        });
                    }
                }
            });

            w2popup.open({
                title   : 'Users Form',
                body    : '<div id="usersForm" style="width: 100%; height: 100%;"></div>',
                style   : 'padding: 15px 0px 0px 0px',
                width   : 400,
                height  : 420,
                showMax : false
            })
            .then((event) => {
                w2ui.usersForm.render('#usersForm');
                setForm(getNewEmptyRecord());  
            });
        }


        function openPassChangeForm(){
            
            let passForm = new w2form({
                name: 'passForm',
                style: 'border: 0px; background-color: transparent;',
                fields: [
                    { field: 'new_pass', type: 'password', required: true,
                        html: { label: 'Password',attr: ' placeholder = "Type the pass" style="width: 100%"' },
                    },
                    { field: 'new_pass2', type: 'password', required: true,
                        html: { label: 'Password',attr: ' placeholder = "Repeate the pass" style="width: 100%"' },
                    }
                ],
                actions: {
                    Reset() { 
                        let record = {
                            new_pass:'',
                            new_pass2:'',
                        };
                        w2ui.passForm.record = record;
                        w2ui.passForm.refresh();

                    },
                    Save() { 
                        this.validate();
                        
                        let pass = passForm.record.new_pass;
                        let pass2 = passForm.record.new_pass2;

                        if(pass !== pass2){
                            w2alert("Not the same password");
                            return;
                        }

                        if(currentSelected < 0){
                            return;
                        }

                        let user = {
                            user:currentSelected,
                            password:passForm.record.new_pass,
                            
                        }

                        $.ajax({
                            url:'/WF/api/changePass', 
                            type:'POST',
                            data: JSON.stringify(user), 
                            dataType:"json",
                            contentType:"application/json; charset=utf-8",
                            success:function(response){
                                if(response)
                                    window.location.reload();
                                else
                                    alert("Something went wrong")
                            }
                        });
                    }
                }
            });

            w2popup.open({
                title   : "Restore User's Password",
                body    : '<div id="passForm" style="width: 100%; height: 100%;"></div>',
                style   : 'padding: 15px 0px 0px 0px',
                width   : 400,
                height  : 220,
                showMax : false
            })
            .then((event) => {
                let record = {
                    new_pass:'',
                    new_pass2:'',
                };
                w2ui.passForm.record = record;
                w2ui.passForm.refresh();
                w2ui.passForm.render('#passForm');
            });
        }


        let grid = new w2grid({
            name: 'grid',
            box: '#content-grid',
            header  : 'Users',
            show: {
                header:true,
                toolbar: true,
                toolbarAdd: true,
                //toolbarEdit: true,
                toolbarDelete: true
            },
            toolbar:{
                items: [
                    { type: 'break' },
                    { type: 'button', id: 'passChange', disabled:true, text: 'Change Password', icon: 'fa fa-key' }
                ],
                onClick: function (target, data) {
                    if(target === 'passChange'){
                        openPassChangeForm(); 
                    }
                }
            },
            multiSearch: true,
            searches: [
                { field: 'recid', label: 'ID ', type: 'int' },
                { field: 'username', label: 'User', type: 'text' },
                { field: 'role_name', label: 'Role', type: 'text' },
                { field: 'region_name', label: 'Region', type: 'text' }
            ],
            columns: [
                { field: 'recid', text: 'Id', size:'10%', sortable:true, attr: 'align=center' },
                { field: 'username', text: 'User',sortable:true,size:'25%' },
                { field: 'name', text: 'Name',sortable:true,size:'35%' },
                { field: 'role_name', text: 'Role', size:'15%' },
                { field: 'region_name', text: 'Region V.',sortable:true,size:'15%'},//,render:'float:02' },
            ],
            onSelect:function(event){
                if(event.type === 'select'){
                    let current = event.detail.clicked.recid;
                    if(current === currentSelected ){
                        //unselect
                        currentSelected = -1;
                        grid.toolbar.disable("passChange");
                    }else{
                        //new selection
                        currentSelected = current;
                        grid.toolbar.enable("passChange");
                    }
                } //item selected
                return;
            },
            onAdd: function (event) {
                event.preventDefault();
                openFormPopup();
            },
            onDelete: function (event) {
                event.preventDefault();
                let selected = grid.getSelection();
                let node = {
                  id: selected  
                };
                

                w2confirm({
                    msg: 'Do you want to delete this user?',
                    title: "DELETE USER",
                    width: 450,        // width of the dialog
                    height: 220,       // height of the dialog
                    btn_yes: {
                        text: 'yes',   // text for yes button (or yes_text)
                        class: 'btn-danger',     // class for yes button (or yes_class)
                        style: 'background-color:red;',     // style for yes button (or yes_style)
                        onClick: null  // callBack for yes button (or yes_callBack)
                    },
                    btn_no: {
                        text: 'No',    // text for no button (or no_text)
                        class: '',     // class for no button (or no_class)
                        style: '',     // style for no button (or no_style)
                        onClick: null  // callBack for no button (or no_callBack)
                    },
                    callBack: function(answer){
                        if(answer === 'yes'){
                            $.post('/WF/api/deleteUser', node, function(respuesta){
                                if(respuesta)
                                    window.location.reload();
                                else
                                    alert("Something went wrong")
                            });
                        } 
                    }
                });   
            }
            
        });
    </script>
</head>
<body>
    <div class="container-fluid" style="width:100%;height:100%;">
        <div id="content-grid" style="width:95%;height:95%;margin: 5px;">
        </div>
    </div>
</body>
</html>